.robby-app {
  padding: 14px;
  margin-bottom: 30px;
  clear: both;

  .remote-stats {
    .empty-queue {
      text-align: center;
      color: #999;
      padding: 20px 0;
    }

    .remote-item {
      margin-top: 2px;
      position: relative;
      width: 100%;

      .event-info {
        width: 100%;
      }

      .controls-box {
        position: absolute;
        right: 0;
        top: 8px;

        .remove-btn {
          padding: 10px;
          font-size: 14px;
          text-decoration: none;
          color: #444;
        }
      }
    }
  }

  .delay-widget {
    padding: 5px 0;
    position: relative;

    input {
      width: 90%;
    }

    span {
      position: relative;
      top: -5px;
      left: 10px;
      font-size: 14px;
    }
  }
  .remote-controls {
    .remote-btn {
      display: none;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
    }
  }

  .home-controls {
    display: none;
  }

  .basic-controls {

    button {
      float: left;
      font-weight: bold;
    }

    .remote-stats {
      float: right;
      font-weight: bold;
    }

    .stats {
      margin-top: 6px;
      float: right;
    }

    .prices {
      margin: 20px 0;
        label{
          font-size:18px;
          vertical-align: middle;
        }

      input[type="radio"]{
        vertical-align: middle;
      }

      label {
        font-size: 14px;
        vertical-align: middle;
        &, input {
          cursor: pointer;
        }
        input {
          margin: 5px;
        }
      }
    }
  }

  .remotes-box {
    display: none;
    clear: both;
    position: relative;

    .sub-run {
      display: none;
    }

    &.show-subs {
      .sub-run {
        display: block;
      }
    }

    h4 {
      padding: 14px 0;
      color: #444;

      span {
        margin-left: 10px;
      }
    }


    .share-all, .unshare-all, .details-btn {
      position: absolute;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      top: 14px;
      right: 6px;
      i {
        font-size: 14px;
        margin-left: 5px;
      }
    }

    .details-btn {
      right: 150px;
    }

    .unshare-all {
      right: 30px;
    }

    .event-info {
       width: 100%;
    }

    .remote-item {
      margin-bottom: 2px;
      position: relative;

      .controls-box {
        a {
          i {
            display: inline-block;
            font-size: 14px;
            margin-left: 4px;
          }
        }

        .buy-btn {
          float: left;
          font-size: 14px;
        }

        .run-btn {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 12px;
          float: right;
        }
      }
    }

    .user-name {
      display: block;
      height: 12px;
      width: 100%;
      overflow: hidden;
      overflow-wrap: break-word;
      margin-bottom: 8px;
    }

    .sub-run {
      border: none;
      margin-left: 10px;
      .user-name {
        width: 180px;
      }
      .id-photo-small {
        width: 28px;
      }

      .controls-box {
        position: absolute;
        right: 0;
        top: 0;

        .remove-btn {
          padding: 10px;
          font-size: 14px;
          text-decoration: none;
          color: #444;
        }
      }
      .event-info {
        padding: 0;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }

    .stats-box {
      width: 130px;
      font-size: 12px !important;
    }

  }

  .buy {
    color: green;
  }

  .fail {
    color: red;
  }

  .visible {
    display: block !important;
  }

  &.remote-mode {
    .basic-controls {
      display: none;
    }
  }

}
