.robby-app {
  padding-top: 14px;

  .remote-controls {
    .remote-btn {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 10px;
    }
  }

  .basic-controls {
    button {
      float: left;
      font-weight: bold;
    }

    .remote-stats {
      float: right;
      font-weight: bold;
    }

    .stats {
      margin-top: 6px;
      float: right;
    }

    .prices {
      margin: 20px 0;
        label{
          font-size:18px;
          vertical-align: middle;
        }

      input[type="radio"]{
        vertical-align: middle;
      }

      label {
        font-size: 14px;
        vertical-align: middle;
        &, input {
          cursor: pointer;
        }
        input {
          margin: 0 5px;
        }
      }
    }
  }

  .remotes-box {
    display: none;
    clear: both;
    position: relative;

    h4 {
      padding: 14px 0;
      color: #444;

      span {
        margin-left: 10px;
      }
    }

    .share-all {
      position: absolute;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      top: 14px;
      right: 4px;
      i {
        font-size: 14px;
        margin-left: 5px;
      }
    }

    .event-info {
       width: 100%;
    }

    .remote-item {
      margin-bottom: 2px;
      position: relative;

      .controls-box {
        a {
          i {
            display: inline-block;
            font-size: 14px;
            margin-left: 4px;
          }
        }

        .buy-btn {
          float: left;
        }

        .run-btn {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 12px;
          float: right;
        }
      }
    }

    .user-name {
      display: block;
      height: 12px;
      width: 100%;
      overflow: hidden;
      overflow-wrap: break-word;
      margin-bottom: 8px;
    }

    .sub-run {
      border: none;
      margin-left: 10px;
      .user-name {
        width: 120px;
      }
      .id-photo-small {
        width: 24px;
      }

      .controls-box {
        position: absolute;
        right: 0;
        top: 0;

        .remove-btn {
          padding: 10px;
          font-size: 14px;
          text-decoration: none;
          color: #444;
        }
      }
      .event-info {
        padding: 0;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }

    .stats-box {
      width: 130px;
      font-size: 10px !important;
    }

  }

  .buy {
    color: green;
  }

  .fail {
    color: red;
  }

  .remotes-box.visible {
    display: block !important;
  }

  &.remote-mode {
    .basic-controls {
      display: none;
    }
  }

}
